<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            <app-root></app-root>
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('polyfills') }}
            {{ encore_entry_script_tags('vendor') }}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </body>
</html>
